{% extends "base.html" %}
{% load static %}
{% block content %}

{% comment %} <h1>Chat with {{ receiver.username }}</h1>
    
    <div class="messages">
      {% if messages %}
        {% for message in messages %}
            <div class="message">
                <strong>{{ message.sender.username }}:</strong>
                <p>{{ message.messege }}</p>
                <small>{{ message.timestamp }}</small>
            </div>
        {% endfor %}
      {% endif %}
    </div>
    
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Send</button>
    </form> {% endcomment %}

<!-- <nav class="navbar navbar-default no-margin">
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
       <ul class="nav navbar-nav">
          <li class="active">
             <button class="navbar-toggle collapse in" data-toggle="collapse" id="menu-toggle-2"> <span class="glyphicon glyphicon-th-large" aria-hidden="true"></span>
             </button>
          </li>
       </ul>
    </div>

 </nav> -->

 <div id="wrapper">
    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        
       <ul class="sidebar-nav nav-pills nav-stacked" id="menu">
          <li class="search">
             <!-- <a href="#"><input type="text" name="search" id="search"></a> -->
             <form action="{% url 'messeneger:home' %}" method="get">
                <input id="search" type="search" placeholder="Поиск..." name="search">
              </form>
          </li>
            {% for user in users %}
                {% if current_user != user %}
                    <li class="indent">
                        <a href="{% url 'messeneger:chat' receiver_id=user.id %}">
                            <span class="fa-stack fa-lg pull-left">
                                <i class="fa fa-cloud-download fa-stack-1x "></i>
                            </span>{{ user.username }}
                        </a>
                    </li>
                {% endif %}
            {% endfor %}
          
       </ul>
    </div>
    <!-- /#sidebar-wrapper -->
    <!-- Page Content -->
    <div id="page-content-wrapper">
       <div class="container-fluid xyz">
          <div class="row">
            <div class="col-lg-12">
               <div class="messages">
                  {% if messages %}
                    {% for message in messages %}
                        <div class="message">
                            <strong>{{ message.sender.username }}:</strong>
                            <p>{{ message.messege }}</p>
                            <small>{{ message.timestamp }}</small>
                        </div>
                    {% endfor %}
                  {% endif %}
                </div>
               <h1>Chat with {{ receiver.username }}</h1>
               <form method="post">
                  {% csrf_token %}
                  <input type="text" name="messege" id="{{ form.messege.id_for_label }}" accept="text" placeholder="Write anything">
                  <button type="submit">Send</button>
              </form>
            </div>
          </div>
       </div>
    </div>
 </div>

<div class="container">
    <div class="columns">
        <ul>
            
        </ul>
    </div>
</div>
<script>
    $("#menu-toggle").click(function(e) {
   e.preventDefault();
   $("#wrapper").toggleClass("toggled");
});
$("#menu-toggle-2").click(function(e) {
   e.preventDefault();
   $("#wrapper").toggleClass("toggled-2");
   $('#menu ul').hide();
});

function initMenu() {
   $('#menu ul').hide();
   $('#menu ul').children('.current').parent().show();
   //$('#menu ul:first').show();
   $('#menu li a').click(
      function() {
         var checkElement = $(this).next();
         if ((checkElement.is('ul')) && (checkElement.is(':visible'))) {
            return false;
         }
         if ((checkElement.is('ul')) && (!checkElement.is(':visible'))) {
            $('#menu ul:visible').slideUp('normal');
            checkElement.slideDown('normal');
            return false;
         }
      }
   );
}
$(document).ready(function() {
   initMenu();
});
</script> 

{% endblock %}
